{% extends "base.html" %}
{% load static %}
{% block title %}
Django Djitter - Home
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <h2>Lines</h2>
        {% if lines|length == 0 %}
        <p>No lines to display</p>
        {% else %}
        <table class="line-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Stops</th>
                </tr>
            </thead>
            <tbody>
            {% for line in lines %}
            <tr>
                <td>{{ line.name }}</td>
                <td>
                    <ul>
                        {% for stop in line.stop_set.all %}
                        <li>{{ stop.stop_number }}</li>
                        <div>
                        {{ stop.station.name }}{% if stop.station.accessible %} ♿ {% endif %}
                        </div>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        
    </div>
</div>
{% endblock %}